<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-check form-check-inline">    
        <input class="form-check-input" type="radio" disabled formControlName="usertype" id="inlineRadio1" value="Admin" [ngClass]="{ 'is-invalid': submitted && f.usertype.errors }">
        <label class="form-check-label" for="usertype" disabled >Admin</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="usertype" id="inlineRadio2" value="Mentor" [ngClass]="{ 'is-invalid': submitted && f.usertype.errors }">
        <label class="form-check-label" for="usertype">Mentor</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="usertype" id="inlineRadio3" value="Associate" [ngClass]="{ 'is-invalid': submitted && f.usertype.errors }">
        <label class="form-check-label" for="inlineRadio3">Associate</label>        
      </div>
      <div *ngIf="submitted && f.usertype.errors" class="invalid-feedback">
            <div *ngIf="f.usertype.errors.required">UserType is required</div>
        </div>
   <br><br>
    <div class="form-group">
        <label for="emailId">EmailId</label>
        <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required">EmailId is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>

<div class="error-class">{{error}}</div>